version: '3'
services:
    db_mysql:
        image: mysql:5.7
        environment:
            MYSQL_DATABASE: root
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        ports:
            - "3306:3306"
        networks:
          - shutock_network

    api:
        build: .
        command: /bin/sh -c "rm -f /usr/src/shutock/tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
        volumes:
            - .:/usr/src/shutock
            - ./vender:/usr/local/vender
        ports:
            - "3000:3000"
        networks:
          - shutock_network

    nginx:
        build: nginx/
        ports:
            - "8080:80"
        environment:
            - CLIENT_HOST=localhost:3001
        networks:
          - shutock_network

    client:
        build: client/
        ports:
            - "3001:3001"
        command: yarn start
        volumes:
            - ./client:/usr/src/client
        networks:
          - shutock_network

networks:
    shutock_network:
