version: '3'
services:
    db_mysql:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: root
        ports:
            - "3306:3306"
        networks:
          - shutock_network

    api:
        build: .
        command: bundle exec rails s -p 3000 -b '0.0.0.0'
        volumes:
            - .:/usr/src/shutock
        ports:
            - "3000:3000"
        networks:
          - shutock_network

networks:
    shutock_network: