version: 2
jobs:
  test:
    working_directory: ~/shutock
    docker:
      - image: circleci/ruby:2.5.3-node
        environment:
          DATABASE_HOST: 127.0.0.1
          DATABASE_USER: root
          RAILS_ENV: test
      - image: circleci/mysql:5.7

    steps:
      - checkout
      - restore_cache:
          keys:
            - shutock-{{ checksum "Gemfile.lock" }}

      - run:
          name: Run bundle install
          command: bundle install --jobs=4 --retry=3 --path=vendor/bundle --clean

      - save_cache:
          key: shutock-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # DBの起動待ち
      - run: dockerize -wait tcp://localhost:3306 -timeout 1m

      - run: bundle exec rails db:create db:migrate
      - run: bundle exec rspec

workflows:
  version: 2
  test:
    jobs:
      - test