version: 2
jobs:
  test:
    working_directory: ~/shutock
    docker:
      - image: circleci/ruby:2.5.3-node
        environment:
          DATABASE_HOST: 127.0.0.1
          DATABASE_USER: root
          RAILS_ENV: test

      - image: circleci/mysql:5.7

    steps:
      - checkout
      - restore_cache:
          keys:
            - shutock-{{ checksum "Gemfile.lock" }}

      - run:
          name: Run bundle install
          command: bundle install --jobs=4 --retry=3 --path=vendor/bundle --clean

      - save_cache:
          key: shutock-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # DBの起動待ち
      - run: dockerize -wait tcp://localhost:3306 -timeout 1m

      - run: bundle exec rails db:create db:migrate
      - run: bundle exec rspec -f d

  deploy-containers:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install aws
          command: |
            sudo pip install awscli
            aws --version
      - run:
          name: Install ecs-deploy
          command: |
            curl https://raw.githubusercontent.com/silinternational/ecs-deploy/master/ecs-deploy | sudo tee -a /usr/bin/ecs-deploy
            sudo chmod +x /usr/bin/ecs-deploy
      - run:
          name: Install jq
          command: sudo apt-get install -y jq
      - run:
          name: "Log in to AWS ECR"
          command: eval $(aws ecr get-login --no-include-email --region ap-northeast-1)
      - run:
          name: "Build & Push Docker Image"
          command: |
            docker build -t $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-rails-repo:latest -t $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-rails-repo:$CIRCLE_SHA1 .
            docker push $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-rails-repo:$CIRCLE_SHA1
            docker build nginx -t $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-nginx-repo:latest -t $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-nginx-repo:$CIRCLE_SHA1 .
            docker push $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-nginx-repo:$CIRCLE_SHA1

#      - run:
#          name: "DB Migrate"
#          command: |
#            aws ecs run-task \
#              --region ap-northeast-1 \
#              --cluster shutock-cluster \
#              --task-definition shutock-rails-task \
#              --overrides file://ecs/run_task_db_migrate.json

      - run:
          name: "Sevice deploy"
          environment:
          command: |
            ecs-deploy --cluster shutock-cluster --service_name shutock-production \
              --region ap-northeast-1 --timeout 240 \
              --image $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/shutock-rails-repo:$CIRCLE_SHA1

  deploy-client:
    working_directory: ~/shutock
    docker:
      - image: innovatorjapan/awscli:latest
    environment:
      - AWS_S3_BUCKET_NAME: shutock-react-bucket
    steps:
      - checkout
      - run:
          name: Deploy to S3 if branch is Master.
          command: aws s3 sync ~/shutock/client/build/ s3://${AWS_S3_BUCKET_NAME}/ --exact-timestamps --delete



workflows:
  version: 2
  test:
    jobs:
      - test
      - deploy-containers:
          requires:
            - test
      - deploy-client
